@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    position: fixed;
    margin-top: 1%;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header ul li a{
    text-decoration: none;
    color: cyan;
}

.banner{
    background-image: url('https://motionarray.imgix.net/preview-728783-OmGFtrnBg3-high_0004.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -50px;
}

header ul li{
    padding: 10px 40px 10px 40px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(218, 202, 218);
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    margin-top: 40px;
    transition: all .35s;
    cursor: pointer;
}

header li span{
    position: relative;
    z-index: 2;
  }
  header li:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    transition: all .35s;
  }
 header li:hover{
    color: #fff;
  }
  
 header li:hover:after{
    width: 100%;
  }
  .typing{
        padding: 20% 5% ;
        width: 75%;
        
  }
  .typing h2{
      font-size: 80px;
      color: wheat;
      border-right: 1px solid wheat;
      overflow: hidden;
      white-space: nowrap;
      animation-name: typing;
      animation-duration: 10s;
      animation-iteration-count: infinite;
  }
  @keyframes typing {
    0%{
        width: 0%;
    }
    25%{
        width: 10%;
        
    }
    30%{
        width: 50%;
    }
    40%{
        width:75% ;
    }
    50%{
        width: 120%;
    }
    75%{
        width: 20%;
    }
    100%{
        
        width: 0%;
    }
  }
  @keyframes blink {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: rgb(233, 228, 229);
    }
      
  }
  .question{
      font-family: 'Fjalla One', sans-serif;
      margin: -75px 125px 0 125px;
      background-color: rgb(19, 15, 15);
      padding: 25px;
      height: 30vh;
      color: blanchedalmond;
      font-size: 25px;
      border-bottom: 2px solid transparent;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
}
.question img{
    border-radius: 50%;
    width: 75px;
}
header.sticky{
    background-color: rgb(214, 196, 196);
    color: blanchedalmond;
    height: 13vh;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header.sticky ul li{
    color: rgb(0, 0, 0);
    
}
header.sticky   li:hover{
    color: #fff;
  }
  .query{
      text-align: center;
  }

  .Abstract{
      display: flex;
      flex-direction: column;
      margin-left: 10%;

  }
  .Abstract li{
      list-style: none;
      padding: 10px 20px 10px 20px ;
  }
  .Abstract li a:hover{
      background-color: blanchedalmond;
      color: rgb(3, 3, 3);
  }
  .Abstract li a{
      text-decoration: none;
      color: blanchedalmond;
      font-size: 20px;
      padding: 10px 20px 10px 20px ;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;

  }
 h1 {
    color: blanchedalmond;
    margin-left: 8% ;
    border-left:2px solid blanchedalmond;
    padding: 25px;
    margin:50px ;
    font-size: 40px;
    font-weight: 1000;
  }
.intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 80%;
}
.intro .para span{
    color: blanchedalmond;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}
.intro .para{
    margin: 20px 10% 0 150px;
    width: 90%;
    border-bottom: 1px solid wheat;
}
.prob{
    width: 30%;
}
.problem{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    margin-right: 50px;
}
.problem span{
    color: blanchedalmond;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-left: 7%;
    
}
#solution span{
    color: blanchedalmond;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-left: 7%;
    margin-right: 30px;
}
#solution li{
    margin: 20px 40px 20px 50px;
    display: flex;
    word-wrap: break-word;
    list-style: square;
}
#solution li h3{
    font-size: 17px;
    width: 30%;
    text-align: left;
}
#solution{
    margin-left: 10%;
    margin-right: 50px;
}
#setup{
    color: wheat;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    
}
#setup span{
    color: blanchedalmond;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-right: 30px;
    padding: 25px;
    
}
#setup h2{
    font-size: 25px;
    padding: 30px;
}
#setup li{
    margin-left: 20%;
    font-size: 17px;
    list-style: square;
}
.inter li{
    list-style: armenian;
    margin-left: 5%;
}
#banddis{
    color: wheat;
}
#banddis h3{
    font-size: 25px;
    margin-left: 10%;
    padding: 30px;
}
#banddis ul{
    margin-left: 15%;
}
#banddis ul li{
    font-size: 20px;
    padding: 25px;
}
#conculsion span{
    color: blanchedalmond;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-left: 7%;
    margin-right: 30px;
    display: flex;

}
#conculsion{
    margin-left: 10%;
    margin-right: 5%;
}
.presentedby{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: cyan;

}
.presentedby img{
    width: 50%;
    border-radius: 50%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.presentedby .dhanush{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
    justify-content: space-around;
    align-items: center;
}
.presentedby .dinesh{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px 0 50px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.social a i{
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
}
.social a{
    color: cyan;
    padding: 10px;
}
.social a:hover{
    background-color: cyan;
    color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
@media screen and (max-width:700px) {
    header{
        justify-content: center;
    }
    section{
        width: 122.5%;
    }
    .banner{
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .typing h2{
        margin: 60% 0 0 5px ;
        font-size: 25px;
        word-wrap: break-word;
    }
    .typing{
        margin: 0;
    }
    .question{
        font-size: 10px;
        width: 80%;
        margin: 20% 0 0 10%;
        padding: 5px;
        
    }
    .question img{
        width: 25px;
    }
    .Abstract{
        margin-left: 5%;
        font-size: 15px;
    }
    .Abstract li{
        display: flex;
    }
    .intro {
        margin:0;
        flex-direction: column;
        justify-content: space-around;
    }
    .intro img{
        width: 100%;
        margin-top: 15px;
    }
    .intro .para{
        margin-left: 10%;
    }
    .problem{
        margin: 0;
        flex-direction: column;
    }
    .problem img{
        width: 100%;
        margin-bottom: 15px;
    }
    h1{
        margin-left: 2%;
    }
    #solution{
        margin-top: 5%;
        margin-left: 5%;
    }
    #solution li{
        margin-left: 7%;
        width: 100%;
    }
    #setup{
        margin-left: 5%;
    }
    #setup h2{
        margin-left:-3%;
    }
    #setup span{
        margin-left: 1%;
    }
    #conculsion{
        margin-left: 1px;
    }
    .presentedby{
        margin-left: 5%;
    }header.sticky{
        background-color: rgb(214, 196, 196);
        color: blanchedalmond;
        height: 16vh;
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    
}
@media screen and (max-width:400px){
    section{
        width: 140%;
    }
    .question{
        font-size: 10px;
        width: 80%;
        margin: 10% 0 0 10%;
        padding: 5px;
        
    }
}

